[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
astroid = "*"
flake8 = "*"
black = "*"
isort = "*"
pylint = "*"

[packages]
apistar = "==0.5.41"
gunicorn = "==19.9.0"

[requires]
python_version = "3.7"

[pipenv]

allow_prereleases = true
